body {
    overflow-x: hidden;
}

.full_bg {
    background: url(../images/bg1_V.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;

}

.full {
    background-color: rgba(236, 228, 228, 0.9);

}

.nav-logo {
    width: 70%;
}

.navitem {
    color: black !important;
    font-weight: 450;
}

.navitem:hover {
    color: #88547b !important;
    font-weight: 650;
}

.triangle-right {
    width: 50px;
    height: 50px;
    background-color: #88547b;
    border-radius: 0px 36px 36px 0px;
    margin-top: -12px;
}

.design {
    padding-left: 20px;
}

.main-text {
    font-size: 70px;
    text-align: center;
    padding-top: 150px;
}

.font-style {
    color: #88547b;
}

.para-desc {

    padding-left: 60px;
    padding-right: 60px;
}

.header-text {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.upper-text-head {
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
}

.line-seprator {
    width: 35%;
    height: 5px;
    background-color: #88547b;
    margin-top: 10px;
}

.line-seprator2 {
    width: 60%;
    height: 5px;
    background-color: #88547b;
    margin-top: 10px;
}

.line-seprator3{
    width: 70%;
    height: 5px;
    background-color: #88547b;
    margin-top: 10px;
}

.line-seprator4{
    width: 45%;
    height: 5px;
    background-color: #88547b;
    margin-top: 10px;
}

.line-seprator5{
    width: 30%;
    height: 5px;
    background-color: #88547b;
    margin-top: 10px;
}

.header-lines {
    font-size: 15px;
}

.para-heading {
    padding-top: 40px;
    font-weight: 600;
    font-size: 35px;
    padding-bottom: 0px;
    color: black;
    margin-left: 60px;
}

.para-text {
    font-weight: 600;
    font-size: 14px;
}

.para-text-desc {
    padding-left: 20px;
    padding-right: 60px;
}

.icon-size {
    padding-right: 10px;
}

.second-img{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
}


.burner-heading{
    font-style: italic;
    margin-bottom: 20px;
}

.burner-desc{
  padding-left: 30px;
  padding-right: 50px;

}

/* Footer */

.bg-logo{
    background-color: rgba(236, 228, 228, 0.9);
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-footer
{
  background-color: #88547b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:white;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:white;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:white;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* Footer End */

/* Media Queries */
@media only screen and (max-width: 420px) {
    body {
        margin-left: 0px;
        margin-right: 0px;
    }

    .logo {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .para-desc {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header-text {
        margin-left: 0px;
    }

    .header-text {
        margin-left: 30px;
        margin-right: 20px;
    }

    .line-seprator {
        width: 45%;

    }

    .line-seprator2 {
        width: 70%;
    }

    .line-seprator3{
        width: 85%;
    }

    .line-seprator4{
        width: 65%;
    }

    .line-seprator5{
        width: 70%;
    }

}

@media only screen and (max-width: 560px) {
    .line-seprator2 {
        width: 75%;
    }

    .line-seprator3{
        width: 88%;
    }

    .line-seprator4{
        width: 77%;
    }

    .line-seprator5{
        width: 50%;
    }
}